<!DOCTYPE html>
<html lang="en" ng-app>
<head>    
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script src = "client.js"></script>
    <title>Wikipedia Viewer</title>
</head>
<body>
    <h1>Wikipedia Viewer with Angular</h1>
   
    <input id="search" ng-model="test" placeholder="test"/><button onclick = "go()">Search</button>
    <p>{{test}}</p>
    
</body>
</html>

<!-- 
      <body ng-init="numbers = [1,2,3,4,5]">
    <input type = "text" ng-model="favMeat" placeholder="Enter your favorite meat" />
   Your fav meat is {{favMeat}}
   <p>{{numbers[0]}}</p>
   <ul>
     <li ng-repeat="x in numbers">{{x}}</li>
   </ul>
-->